<div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-primary w-100">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                    <span class="fs-5 d-none d-sm-inline fw-bold">QUẢN LÝ HỌC SINH</span>
                </a>
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start w-100" id="menu">
                    <li class="nav-item">
                        <a href="/" class="nav-link align-middle px-0">
                            <i class="fa-solid fa-house"></i> <span class="ms-1 d-none d-sm-inline">Dashboard</span>
                        </a>
                    </li>
                    <li>
                        {%if current_user.user_role == UserRole.USER %}
                        <a href="#manage_list" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                            <i class="fa-regular fa-rectangle-list"></i> <span class="ms-1 d-none d-sm-inline">Quản lý</span> </a>
                        <ul class="collapse show nav flex-column ms-1" id="manage_list" data-bs-parent="#menu">
                            <li class="w-100">
                                <a href="/manage-student" class="nav-link px-0"> <span class="d-none d-sm-inline">Học sinh</span></a>
                            </li>
                            <li>
                                <a href="/manage-class" class="nav-link px-0"> <span class="d-none d-sm-inline">Lớp</span></a>
                            </li>
                        </ul>
                        {% endif %}
                        {%if current_user.user_role == UserRole.ADMIN %}
                        <a href="#manage_subject" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                            <i class="fa-regular fa-rectangle-list"></i> <span class="ms-1 d-none d-sm-inline">Quản lý môn học</span> </a>
                        <ul class="collapse show nav flex-column ms-1" id="manage_subject" data-bs-parent="#menu">
                            <li>
                                <a href="/add_course" class="nav-link px-0"> <span class="d-none d-sm-inline">Thêm môn học</span></a>
                            </li>
                            <li>
                                <a href="/manage_courses" class="nav-link px-0"> <span class="d-none d-sm-inline">Cập nhật môn học</span></a>
                            </li>
                        </ul>
                        {% endif %}
                    </li>
                </ul>
                <hr>
                <div class="dropdown pb-4">
                    <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="https://github.com/mdo.png" alt="hugenerd" width="30" height="30" class="rounded-circle">
                        <span class="d-none d-sm-inline mx-1">{{ current_user.username }}</span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
                        <li><a class="dropdown-item" href="/logout">Đăng xuất</a></li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</div>

