{% extends 'layout/base.html' %}
{% block title %}Danh sách học sinh của lớp{% endblock %}
{% block content %}
<div class="">
    {% if request.args.get('message') and request.args.get('statuscode') %}
    <div class="toast-container position-fixed bottom-0 end-0 p-3">
        <div class="toast align-items-center
                {% if request.args.get('statuscode') == '1' %} text-bg-success
                {% elif request.args.get('statuscode') == '2' %} text-bg-danger
                {% endif %} border-0"
             role="alert" aria-live="assertive" aria-atomic="true" style="z-index: 999">
            <div class="d-flex">
                <div class="toast-body">
                    {{ request.args.get('message') }}
                </div>
                <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"
                        aria-label="Close"></button>
            </div>
        </div>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const toastEl = document.querySelector('.toast');
            const toast = new bootstrap.Toast(toastEl);
            toast.show();
        });
    </script>
    {% endif %}
    <div class="table-wrapper">
        <div class="table-title">
            <div class="row">
                <div class="col-sm-6">
                    <h2>DANH SÁCH HỌC SINH <b>LỚP {{ classInfo.name}}</b> - SĨ SỐ <b> {{ classInfo.numberStudent}}</b>
                    </h2>
                </div>
                <div class="col-sm-6 d-flex justify-content-end align-items-center">
                    <a href="/manage-class/students/list?classId={{ classInfo.id}}"
                       class="btn btn-success btn-sm me-3 d-inline-flex align-items-center">
                        <i class="fa-solid fa-plus"></i><span> Thêm hs</span>
                    </a>
                    <form action="/manage-class/students?classId={{ classInfo.id}}" method="GET" class="d-inline-flex">
                        <div class="input-group" style="width: 300px;">
                            <input name="search" type="text" class="form-control" placeholder="Tìm kiếm..."
                                   value="{{ search }}">
                            <input type="hidden" name="classId" value="{{ classInfo.id }}">
                            <input type="hidden" name="pageIndex" value="{{ request.args.get('pageIndex', 1) }}">
                            <button class="btn btn-primary btn-sm" type="submit">
                                <i class="fa-solid fa-magnifying-glass"></i>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- Hiển thị thông báo tìm kiếm -->
        {% if search and totalRecords > 0 %}
        <div class="alert alert-info" role="alert">
            Có {{ totalRecords }} kết quả tìm thấy.
        </div>
        {% elif search and totalRecords == 0 %}
        <div class="alert alert-warning" role="alert">
            Không tìm thấy kết quả nào phù hợp với từ khóa "{{ search }}".
        </div>
        {% endif %}

        {% if students|length == 0 %}
        <div class="alert alert-danger" role="alert">
            Không có học sinh thuộc lớp!
        </div>
        {% endif %}

        <div class="table-responsive">
            <div class="table-container">
                {% if totalRecords > 0 %}
                <table class="table table-striped table-hover">
                    <thead class="table-danger table-thead">
                    <tr>
                        <th>STT</th>
                        <th>Họ tên</th>
                        <th>Giới tính</th>
                        <th>Năm sinh</th>
                        <th>Địa chỉ</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for student in students %}
                    <tr>
                        <td>{{ (currentPage - 1) * pageSize + loop.index }}</td>
                        <td>{{ student.name }}</td>
                        <td>{{ student.gender.value }}</td>
                        <td>{{ student.birth_date.strftime('%Y') }}</td>
                        <td class="nowrap">{{ student.address}}</td>
                        <td>
                            <a href="/manage-class/students/delete?studentId={{student.id}}&classId={{classInfo.id}}"
                               class="delete" data-toggle="modal"
                               data-id="{{ student.id }} ">
                                <i class="fa-solid fa-trash" data-toggle="tooltip" title="Delete"></i>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% endif %}
            </div>
            <div class="pagination">
                {% if students|length > 0 %}
                <nav aria-label="Pagination">
                    <ul class="pagination justify-content-center">
                        <!-- Nút "Trang trước" -->
                        <li class="page-item {% if currentPage == 1 %}disabled{% endif %}">
                            <a class="page-link" href="?pageIndex={{ currentPage - 1 }}&classId={{ classInfo.id}}"
                               tabindex="-1">
                                <i class="fa-solid fa-chevron-left"></i>
                            </a>
                        </li>

                        <!-- Danh sách các trang -->
                        {% for page in pagination %}
                        {% if page == '...' %}
                        <li class="page-item disabled">
                            <span class="page-link">...</span>
                        </li>
                        {% else %}
                        <li class="page-item {% if page == currentPage %}active{% endif %}">
                            <a class="page-link"
                               href="?pageIndex={{ page }}&search={{ search }}&classId={{ classInfo.id}}">{{ page }}</a>
                        </li>
                        {% endif %}
                        {% endfor %}

                        <!-- Nút "Trang sau" -->
                        <li class="page-item {% if currentPage == totalPage %}disabled{% endif %}">
                            <a class="page-link"
                               href="?pageIndex={{ currentPage + 1 }}&search={{ search }}&classId={{ classInfo.id}}">
                                <i class="fa-solid fa-chevron-right"></i>
                            </a>
                        </li>
                    </ul>
                </nav>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
